[Desktop Entry]
Version=1.0
Type=Application
Name=Rofi Launcher
Comment=Lauch apps using Rofi
Exec=rofi -show run
Icon=inode-directory
Path=
Terminal=false
StartupNotify=false
